<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
    <h1 style="font-size: 100px;text-align: center;">Login Page</h1>
     <form action="/" style="text-align: center;" method="GET">
         <label for="email">Email:</label><br>
         <input type="text" id="email" name="email"><br><br>
         <label for="password">Password:</label><br>
         <input type="password" id="password" name="password" placeholder="*****" ><br><br>
         <input type="submit" value="Submit">
       </form>
 </body>
 </html>
